{% extends 'base.html' %}

{% block content %}

<h2>HandSpeak: Bridging humans🫱🏽‍🫲🏽</h2>
 	<h2>Developed by:</h2>
 	<hr>
 	<ul class="td">
        <li>Prajjwal Mathur:
            <button class="button">
                <a href="https://www.linkedin.com/in/slowflash/">
                    Linkedin
                </a>
            </button>
            <button class="button" style="text-decoration: none;">
                <a href="https://github.com/SlowFlash22">
                    GitHub
                </a>
            </button>
            <button class="button">
                <a href="https://slowflash22.github.io">
                    Portfolio
                </a>
            </button>
        </li>
		<li>Vaidik Chandrayan
            <button class="button">
                <a href="www.linkedin.com/in/vaidik-chandrayan-b86a56211/">
                    Linkedin</a>
            </button>
              <button class="button" style="text-decoration: none;">
                <a href="https://github.com/Vaidik21">
                    GitHub
                </a>
            </button>
            <button class="button">
                <a href="https://vaidik21.github.io/">
                    Portfolio
                </a>
            </button>
        </li>
  	</ul>
	<hr>
	<p class="td" style="display: flex; justify-content: center; align-items: center">Checkout our github repo, give stars and contribute.
    <div class="form-style" style="height: 10%; width: 10%;">
        <a href="https://github.com/SlowFlash22/HandSpeak">
            <button class="button">
                GitHub Repo
            </button>
        </a>
    </div>
    </p>
    <footer style="color: #09aced; align-items: end">
        <small>&copy;2023 Final Year Capstone Project: HandSpeak </small>
    </footer>
{% endblock %}
